@font-face {
    font-family: 'Stem-Regular';
    src: url(../fonts/EM-Stem/OTF/Stem-Regular.otf) format('opentype');
}
@font-face {
    font-family: 'Stem-Medium';
    src: url(../fonts/EM-Stem/OTF/Stem-Medium.otf) format('opentype');
}
@font-face {
    font-family: 'Stem-Bold';
    src: url(../fonts/EM-Stem/OTF/Stem-Bold.otf) format('opentype');
}

:root {
    --Stem-Regular: 'Stem-Regular';
    --Stem-Medium: 'Stem-Medium';
    --Stem-Bold: 'Stem-Bold';
    --accent: #7DD83F;
    --button-color: #00ACA5;
}

body {
    font-family: var(--Stem-Bold);
}

a {
    text-decoration: none;
    color: black;
    margin: 0;
    letter-spacing: 0.8px;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    letter-spacing: 0.8px;
}

p {
    margin: 0;
    letter-spacing: 0.8px;
}

span {
    letter-spacing: 0.8px;
}

.primary-button {
    font-family: var(--Stem-Regular);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: var(--button-color);
    letter-spacing: 0.8px;
}

.secondary-button {
    font-family: var(--Stem-Regular);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 36px;
    background-color: var(--button-color);
    letter-spacing: 0.8px;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

/* Header */

.header-container {
    display: flex;
    margin: 26px 40px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 28px;
}

.logo-span {
    color: var(--accent);
}

.header-content {
    display: flex;
    gap: 40px;
}

.header-nav {
    display: flex;
    gap: 24px;
    align-items: center;
}

.nav-link {
    font-family: var(--Stem-Medium);
    font-size: 18px;
    color: black;
    opacity: 0.7;
}

.header-tel-info p {
    font-family: var(--Stem-Medium);
    font-size: 13px;
    opacity: 0.7;
    margin-top: 0px;
    margin-bottom: 4px;
    text-align: right;
}

.header-tel {
    font-family: var(--Stem-Medium);
    font-size: 18px;
    text-align: right;
}

.header-button {
    font-family: var(--Stem-Regular);
    color: white;
    font-size: 15px;
    cursor: pointer;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    background-color: var(--button-color);
}

/* Hero */

.hero {
    display: flex;
}

.hero-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent);
    width: 100%;
}

.hero-text {
    max-width: 616px;
}

.hero-text h1 {
    color: white;
    font-size: 64px;
    line-height: 110%;
    margin-bottom: 24px;
}

.hero-text p {
    font-family: var(--Stem-Regular);
    color: white;
    opacity: 0.8;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 40px;
}

.hero-text-button {
    display: flex;
    font-family: var(--Stem-Medium);
    font-size: 18px;
    max-width: 225px;
    box-sizing: border-box;
    background-color: var(--button-color);
    color: white;
    padding: 16px 32px;
    border-radius: 6px;
    align-items: center;
}

.hero-text-button::after {
    content: '';
    display: block;
    width: 8px;
    height: 14px;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 22px;
}

/* Hero 2 */

.hero2 {
    display: flex;
    margin: 100px 0;
    justify-content: space-between;
    align-items: center;
}

.hero2-text {
    max-width: 540px;
}

.hero2-text h2 {
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 16px;
}

.hero2-text p {
    font-family: var(--Stem-Medium);
    font-weight: 400;
    font-size: 18px;
    opacity: 0.7;
    line-height: 24px;
    margin-bottom: 52px;
}

.hero2-text a {
    font-family: var(--Stem-Medium);
    background-color: var(--button-color);
    color: white;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    border-radius: 36px;
    padding: 20px 32px;
}

/* Products */

.products {
    width: 100%;
    background-color: var(--accent);
    padding: 100px 0;
}

.products-title h2 {
    color: white;
    font-size: 48px;
    line-height: 52px;
    text-align: center;
    margin-bottom: 24px;
}

.products-title h3 {
    color: white;
    opacity: 0.8;
    font-family: var(--Stem-Regular);
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    margin: 0 auto;
    margin-bottom: 64px;
    text-align: center;
    max-width: 730px;
}

.products-cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.products-single-card {
    box-sizing: border-box;
    display: flex;
    flex-basis: 255px;
    flex-direction: column;
    gap: 18px;
    background-color: white;
    padding: 32px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.products-single-card h3 {
    font-family: var(--Stem-Regular);
    font-size: 18px;
    letter-spacing: 0.8px;
}

.products-single-card span {
    color: var(--button-color);
    font-size: 18px;
    line-height: 24px;
}

.product-order {
    font-size: 15px;
    padding: 10px 16px;
}

.product-price span {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.7);
    font-family: var(--Stem-Medium);
}

/* Advantages */

.advantages {
    padding: 120px 0px;
}

.advantages-title {
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 64px;
}

.advantages-title h2 {
    font-family: var(--Stem-Regular);
    color: var(--button-color);
    font-size: 28px;
    line-height: 130%;
    margin-bottom: 24px;
}

.advantages-title h3 {
    font-size: 64px;
    line-height: 68px;
    margin-bottom: 24px;
}

.advantages-title h4 {
    font-family: var(--Stem-Regular);
    opacity: 0.7;
    font-size: 24px;
    line-height: 130%;
}

.advantages-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.advantages-single-card {
    text-align: center;
}

.advantages-single-card h4 {
    font-family: var(--Stem-Regular);
    font-size: 28px;
    line-height: 130%;
    margin-bottom: 16px;
}

.advantages-single-card p {
    opacity: 0.4;
    font-size: 18px;
}